name: Docker Image CI
on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ubuntu2204-dpdk2211
          - image: ubuntu2004-dpdk2111
          - image: ubuntu2004-dpdk2011

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build image
        run: |
          docker build . --file Dockerfile-${{ matrix.image }} --tag seladb/${{ matrix.image }}:latest

      - name: Test PcapPlusPlus
        run: ./test-pcapplusplus.sh ${{ matrix.image }} ${{ matrix.test-flags }}

      - name: Push to DockerHub
        run: |
          echo ${{ secrets.DOCKER_PASS }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          docker push seladb/${{ matrix.image }}:latest
        if: ${{ !github.event.pull_request.head.repo.fork && github.ref == 'refs/heads/master' }}
