name: Docker Image CI
on: [push]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
        - image: alpine315
        - image: centos7
          test-flags: -s
        - image: fedora29
        - image: fedora34
        - image: ubuntu1804
        - image: ubuntu2004
        - image: ubuntu2004-dpdk1911
        - image: ubuntu2004-dpdk2011
        - image: ubuntu2004-pfring
        - image: ubuntu2004-zstd

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build image
        run: |
          docker build . --file Dockerfile-${{ matrix.image }} --tag seladb/${{ matrix.image }}:latest

      - name: Push to DockerHub
        run: |
          echo ${{ secrets.DOCKER_PASS }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          docker push seladb/${{ matrix.image }}:latest

  test:
    needs: build
    runs-on: ubuntu-20.04
    container: seladb/${{ matrix.image }}
    strategy:
      matrix:
        image:
          - alpine315
          - centos7
          - fedora29
          - fedora34
          - ubuntu1804
          - ubuntu2004
          - ubuntu2004-dpdk1911
          - ubuntu2004-dpdk2011
          - ubuntu2004-pfring
          - ubuntu2004-zstd

    steps:
      - name: Checkout PcapPlusPlus
        uses: actions/checkout@main
        with:
          repository: seladb/PcapPlusPlus
          path: ./PcapPlusPlus

      - name: Configure PcapPlusPlus
        working-directory: ./PcapPlusPlus
        run: |
          ./configure-linux.sh --default

      - name: Configure PcapPlusPlus with DPDK
        working-directory: ./PcapPlusPlus
        run: |
          ./configure-linux.sh --dpdk --dpdk-home /dpdk
        if: contains(matrix.image, 'dpdk')

      - name: Configure PcapPlusPlus with PF_RING
        working-directory: ./PcapPlusPlus
        run: |
          ./configure-linux.sh --pf-ring --pf-ring-home /PF_RING
        if: contains(matrix.image, 'pfring')

      - name: Build PcapPlusPlus
        working-directory: ./PcapPlusPlus
        run: make all

      - name: Test Packet++
        working-directory: ./PcapPlusPlus
        run: |
          cd Tests/Packet++Test
          Bin/Packet++Test ${{ matrix.test-flags }}

      - name: Test Pcap++
        working-directory: ./PcapPlusPlus
        run: |
          cd Tests/Pcap++Test
          Bin/Pcap++Test -n ${{ matrix.test-flags }}
