name: Docker Image CI
on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: alpine317
          - image: alpine318
          - image: alpine319

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build image
        run: |
          docker build . --file Dockerfile-${{ matrix.image }} --tag seladb/${{ matrix.image }}:latest

      - name: Test PcapPlusPlus
        run: ./test-pcapplusplus.sh ${{ matrix.image }} ${{ matrix.test-flags }}

      - name: Push to DockerHub
        run: |
          echo ${{ secrets.DOCKER_PASS }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          docker push seladb/${{ matrix.image }}:latest
        if: ${{ !github.event.pull_request.head.repo.fork && github.ref == 'refs/heads/master' }}
